body {
    color: #bdae9d;
    background: #221e1e;
    font: 12px "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 150%;
    font-weight: bold;
    padding: 0;
    margin: 1em 0 0 .3em;
}
hr {
    border: none 0;
    border-top: 1px dotted #363030;
    height: 1px;
}

a {
    color: #eddac7;
}
a.link:after {
    content: " ⎋"
}
a:hover {
    text-decoration: none;
}
.description {
    color: #aa9361;
}

pre {
    margin: 4px 40px 4px 5px;
    border: 1px dotted #363030;
    padding: 10px 20px;
    background: rgba(50, 50, 50, 0.2);
}
code {
    font-size: 105%;
}
code .punctuation,
code .separated:after {
    color: #47b8bd;
}

code a {
    color: #c4646b;
}

#index a,
code a {
    text-decoration: none;
}
code a:hover,
#index a:hover {
    text-decoration: underline;
}
#index a {
    padding: 10px;
    line-height: 18px;
}
.keyword,
a.keyword,
.keyword a {
    color: #999efd;
}
.attributes {
    color: #777;
    font-style: italic;
}
.separated:after {
    content: ", ";
}
.separated:last-child:after {
    content: "";
}

#index {
    font-size: 10px;
    color: #EDDAC7;
    margin-top: 4px;
    float: left;
    width: 170px;
    position: fixed;
    left: 8px;
    background: rgba(50, 50, 50, 0.5);
    padding: 8px;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    /*
    -webkit-box-shadow: 0.2em 0.2em 0.2em rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0.2em 0.2em 0.2em rgba(255, 255, 255, 0.1);
    box-shadow: 0.1em 0.1em 0.2em rgba(255, 255, 255, 0.1);
    */
}

#content {
    padding-top: 10px;
    margin-left: 200px;
}

.panel {
    color: #e5c138;
    position: fixed;
    right: 0px;
    background: rgba(70, 70, 70, 0.9);
    padding: 6px 15px;
    font-size: 10px;
}

#footer {
    border-top-left-radius: 1em;
    -webkit-border-top-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    bottom: 0px;
}
#header {
    border-bottom-left-radius: 1em;
    -webkit-border-bottom-left-radius: 1em;
    -moz-border-radius-bottomleft: 1em;
    top: 0px;
}
.center {
    text-align: center;
}

.classList {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 8px;
    font-family: arial, sans-serif;
    font-size: 1em;
    overflow: auto;
}
.classList li {
    padding: 0;
    margin: 0 0 8px 0;
}
.summaryTable {
    width: 100%;
}
h1.classTitle {
    font-size:170%;
    line-height:130%;
    color: #e5c138;
}
h2 { font-size: 140%; }
caption, div.sectionTitle {
    color: #e5c138;
    font-size:130%;
    text-align: left;
    padding: 2px 6px 2px 6px;
    background: rgba(50, 50, 50, 0.5);
    padding: 8px;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}
.sectionBody {
    padding: 0 8px;
}
div.sectionTitle {
    background: rgba(100, 90, 70, 0.1);
}

div.sectionTitle { margin-bottom: 8px; }
.summaryTable thead { display: none; }
.summaryTable td {
    vertical-align: top;
    padding: 4px;
    border-bottom: 1px #363030 dotted;
}
/*col#summaryAttributes {}*/
.summaryTable td.attributes {
    width: 140px;
    text-align: right;
}
.summaryTable td.nameDescription {
    text-align: left;
    font-size: 13px;
    line-height: 15px;
}
.summaryTable td.nameDescription, .description {
    line-height: 15px;
    padding: 4px;
    padding-left: 4px;
}
.summaryTable { margin-bottom: 8px; }
ul.inheritsList {
    list-style: square;
    margin-left: 20px;
    padding-left: 0;
}
.detailList {
    margin-left: 20px; 
    line-height: 15px;
}
.detailList dt { margin-left: 20px; }
.detailList .heading {
    font-weight: bold;
    padding-bottom: 6px;
    margin-left: 0;
}
.light, .light a:link, .light a:visited {
    color: #777;
    font-style: italic;
}
.fineprint {
    text-align: right;
    font-size: 10px;
}